<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Region</title>
    <link rel="stylesheet" href="01.css">
</head>

<body>

    <article class="region">

        <select>
            <option>Välj län...</option>
            <option>Stockholms län</option>
            <option>Uppsala län</option>
            <option>Västra Götalands län</option>
        </select>

        <select>
            <option>Välj kommun...</option>
            <option>0114 Upplands Väsby</option>
            <option>0115 Vallentuna</option>
            <option>0117 Österåker</option>
        </select>

        <section class="result">
            Du har valt kommun med kod 0114
        </section>

    </article>

</body>

</html>