<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stars</title>
    <link rel="stylesheet" href="01.css">
</head>

<body>

    <article class="movie">

        <img class="poster" src="posters/good-bad-ugly.jpg">

        <div class="rating">
            <img src="stars/star.png">
            <img src="stars/star.png">
            <img src="stars/star.png">
            <img src="stars/star-gray.png">
            <img src="stars/star-gray.png">
        </div>

        <div class="result">
            You rated 3 stars!
        </div>

    </article>

</body>

</html>