<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stars</title>
    <link rel="stylesheet" href="01.css">
</head>

<body>

    <article class="movie">

        <img class="poster" src="posters/good-bad-ugly.jpg">

        <div class="rating">
            <img src="stars/star-gray.png" onclick="clickStar(1)" onmouseenter="hoverStar(1)" onmouseout="leftStar()">
            <img src="stars/star-gray.png" onclick="clickStar(2)" onmouseenter="hoverStar(2)" onmouseout="leftStar()">
            <img src="stars/star-gray.png" onclick="clickStar(3)" onmouseenter="hoverStar(3)" onmouseout="leftStar()">
            <img src="stars/star-gray.png" onclick="clickStar(4)" onmouseenter="hoverStar(4)" onmouseout="leftStar()">
            <img src="stars/star-gray.png" onclick="clickStar(5)" onmouseenter="hoverStar(5)" onmouseout="leftStar()">
        </div>

        <div class="result" onclick="resetStars()">
            You rated 3 stars!
        </div>

    </article>

    <script src="01.js"></script>
</body>

</html>