<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- link:css och tabl => ger hänvisning till stylesheet -->
    <link rel="stylesheet" href="01.css">
</head>
<body>

    <!-- 
        ! och tab => ger grund HTML skal

        button och tab => ger HTML för en knapp 

        F12 => får fram Chrome DevTools. Välj "Console" 
    -->
    <button onclick="hideArea()">Hide</button>
    <button onclick="showArea()">Show</button>
    <button onclick="changeText()">Change text</button>
    <button onclick="pow()">Pow</button>

    <div class="area" id="myspace">
        Bla bla
    </div>

    <!-- 
        
    script och tab => ger script-block 

    Markera och tryck Ctrl K C => kommenterar kod 

    <script>

        function changeText() {
            alert('aaaaaaaaaaaaaaa')
            alert('bbbbbbb')
        }

    </script> 
    -->

    <script src="01.js"></script>

</body>
</html>