<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>02</title>
    <link rel="stylesheet" href="02.css">
</head>
<body>
    
    <!-- 
        input och tabb => ger textfält
        "readonly" kan sättas på valfritt html-element och då kan användaren inte ändra värdet
    -->

    <input type="text" class="text1" onkeyup="updateStuff()" >
    <input type="text" class="text2" readonly>

    <div class="result">
    </div>

<script src="02.js"></script>
</body>
</html>